// -----------------------------------------------------------------------------
// Input Components
// -----------------------------------------------------------------------------
@use "../frankly/comp";
@use "../frankly/theme";

// -----------------------------------------------------------------------------
// Logo Component
// -----------------------------------------------------------------------------
@mixin searchBar {
  @include comp.create("searchBar") {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2rem;
    right: 4rem;
    margin-block-end: 2rem;
  }
  button {
    font-weight: 1000;
    font-size: 1rem;
    color: none;
    background-color: var(--color-none);
    border-radius: none;
    padding: none;
    border: none;
    margin: 0;
    margin-top: none;

    &:hover {
      background-color: var(--color-button-hover) !important;
    }
  }
}
