@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #02005a;
}

body {
  /* min-height: 100vh; */
  background-color: #f8f2e8;
  /* background-color: rgb(224 111 111 / 40%); */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* padding: 1rem 0.5rem; */
}

section {
  width: 100%;
  height: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: cenetr;
  padding: 1rem;
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

input[type="email"],
input[type="text"],
input[type="password"],
textarea,
button {
  font-family: "Nunito", sans-serif;
  color: #333333;
  border: none;
  padding: 0.3125rem 0;
  border-radius: 0;
  border-bottom: 1px solid #01313c;
  background-color: transparent;
}
input::placeholder {
  color: grey;
  /* opacity: 0.5; */
}
label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  font-weight: 900;
  color: #02005a;
}
button {
  /* ont-family: "Vesterbro",sans-serif; */
  font-weight: 1000;
  font-size: 1rem;
  color: #333333;
  background-color: transparent;
  border-radius: 0;
  padding: calc(2 * 0.3125rem) calc(3 * 0.3125rem);
  border: 1px solid #01313c;
  margin: 0;
  margin-top: calc(4 * 0.3125rem);
  position: relative;
  box-shadow: none;
}
button:hover {
  background-color: #0f02f7;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* nav */
svg {
  height: 2rem;
  width: auto;
}

.player-container {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.player-container > div {
  border: 2px solid pink;
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 1rem;
  box-sizing: border-box;
}

@media (max-width: 40rem) {
  .player-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 60rem) {
  .player-container > div {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 40rem) {
  .player-container > div {
    flex: 0 0 100%;
  }
}

/* nav */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 1rem;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  height: 80px;
  width: 100%;
  /* padding: 0 2rem; */
  background-color: transparent;
  color: #02005a;
}

nav a {
  margin: 0 1rem;
  color: #02005a;
  text-decoration: none;
}

nav a:hover {
  color: pink;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #02005a;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header {
    justify-content: space-between;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    color: white;
    padding-right: 1rem;
  }
  nav a {
    color: white;
  }
  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #02005a;
    transition: 1s;
    z-index: 99;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.logOutBtn {
  border: none;
  background-color: #0f02f7;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 70px;
}
