@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #02005a;
}

body {
  /* background-color: #f8f2e8; */
  background-color: white;
}

.App {
  display: flex;
  /* flex-direction: row; */
  /* height: 100vh; */
  width: 100%;
}

section {
  width: 100%;
  height: 100vh;
  max-width: 420px;
  min-height: 400px;
  display: block;
  margin: auto;
  padding: 1rem;
  margin-block-start: 10rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

input[type="email"],
input[type="text"],
input[type="password"],
textarea,
button {
  font-family: "Nunito", sans-serif;
  color: #333333;
  border: none;
  padding: 0.3125rem 0;
  border-radius: 0;
  border-bottom: 1px solid #01313c;
  background-color: transparent;
}
input::placeholder {
  color: grey;
}
label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  font-weight: 900;
  color: #02005a;
}
button {
  /* ont-family: "Vesterbro",sans-serif; */
  font-weight: 1000;
  font-size: 1rem;
  color: #333333;
  background-color: transparent;
  border-radius: 0;
  /* padding: calc(2 * 0.3125rem) calc(3 * 0.3125rem); */
  border: 1px solid #01313c;
  margin: 0;
  margin-top: calc(4 * 0.3125rem);
  position: relative;
  box-shadow: none;
}
button:hover {
  background-color: #0f02f7;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

svg {
  height: 2rem;
  width: auto;
}

.player-container {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-beeen;
  gap: 1rem;
  /* height: 100vh; */
  width: 100%;
}
.player-container > div,
.player-container-profile > div {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 1rem;
  box-sizing: border-box;
}

@media (max-width: 60rem) {
  .player-container > div,
  .player-container-profile > div {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 40rem) {
  .player-container > div,
  .player-container-profile > div {
    flex: 0 0 100%;
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding-top: 2rem;
  width: 100%;
  /* height: 100vh; */
}

/* profile */

.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.noLottieContainer {
  margin-block-start: 15rem;
}
.update label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  font-weight: 600;
}

.update input[type="text"] {
  border: none;
  padding: 0;
  font-size: 1rem;
}

.player-container-profile {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1rem; */
}
h2 {
  padding-top: 2rem;
  padding-left: 2rem;
}

@media (max-width: 40rem) {
  .profile {
    flex-direction: column;
  }
  .profile > div {
    width: 80%;
  }
  section {
    margin-block-start: 1rem;
  }
  .player-container-profile {
    padding: 1rem;
  }
  h2 {
    font-size: 1.2rem;
    padding-left: 1rem;
  }
}
/* h1.headingProfile {
  width: 20%;
  display: block;
} */

/* lottie card */

.lottieCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.lottieCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}

/* search bar */
.searchBar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 2rem;
  right: 4rem;
  margin-block-end: 2rem;
}
.searchBar button {
  font-weight: 1000;
  font-size: 1rem;
  color: none;
  background-color: transparent;
  border-radius: none;
  padding: none;
  border: none;
  margin: 0;
  margin-top: none;
}
.searchBar button::hover {
  background-color: #0f02f7 !important;
}
